@model CashMachine.Web.Models.WithdrawMoneyViewModel

@{
    ViewBag.Title = "WithdrawMoney";
}

<h2>Снятие денег</h2>
<div class="col-sm-4">
    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.EditorFor(m => m.Money, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
            @Html.Partial("Keyboard", "Money")
        }
    </div>
    <div>
        @Html.ActionLink("Выход", "ExitAccount", "Account", null, new { @class = "btn btn-success" })
    </div>
</div>

<script>
    $('.js-input-number').click(function () {
        inputForKeys($('#Money'), $(this).attr('value'), $maxLengthForWithdrawMoney);
    });
</script>
